@model ModelLibrary.Specification.Specification

@{
    this.ViewData[index: "Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dice</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="@("ResultPairList")">
            <div class="text-danger" asp-validation-summary="@(
                Microsoft.AspNetCore.Mvc.Rendering.ValidationSummary.ModelOnly)" />

            <table cellpadding="10">
                <thead>
                    <tr>
                        <th width="40%" />
                        <th width="30%">First Die</th>
                        <th width="30%">Second Die</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="white-space: nowrap;">Number of times to roll:</td>
                        <td colspan="2">
                            <input asp-for="@(this.Model.NumberOfTimesToRoll)"
                                class="form-control" autofocus="autofocus" value="@(1)"
                                min="1" max="255" />
                            <span asp-validation-for="@(this.Model.NumberOfTimesToRoll)"
                                class="text-danger" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <input type="submit" value="Roll" class="btn btn-primary" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

@section Scripts {
    @{ await this.Html.RenderPartialAsync(
           partialViewName: "_ValidationScriptsPartial"); }
}