@model MVCViewProject.Models.PairRollList

@{
    this.ViewData[index: "Title"] = "Pair Roll List";
}

<div class="text-center">
    <h1 class="display-4">Pair Roll List</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th />
            <th>First Die</th>
            <th />

            <th />
            <th>Second Die</th>
            <th />
        </tr>
        <tr>
            <th>Favored Face</th>
            <th>Favor Factor</th>
            <th>Up Face</th>

            <th>Favored Face</th>
            <th>Favor Factor</th>
            <th>Up Face</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MVCViewProject.Models.PairRoll pairRoll in this.Model)
        {
            <tr>
                <td>@(this.Html.DisplayFor(expression:
                    (MVCViewProject.Models.PairRollList pairRollList) =>
                    pairRoll.FirstFavoredFace))</td>
                <td>@(this.Html.DisplayFor(expression:
                    (MVCViewProject.Models.PairRollList pairRollList) =>
                    pairRoll.FirstFavorFactor))</td>
                <td>@(this.Html.DisplayFor(expression:
                    (MVCViewProject.Models.PairRollList pairRollList) =>
                    pairRoll.FirstUpFace))</td>

                <td>@(this.Html.DisplayFor(expression:
                    (MVCViewProject.Models.PairRollList pairRollList) =>
                    pairRoll.SecondFavoredFace))</td>
                <td>@(this.Html.DisplayFor(expression:
                    (MVCViewProject.Models.PairRollList pairRollList) =>
                    pairRoll.SecondFavorFactor))</td>
                <td>@(this.Html.DisplayFor(expression:
                    (MVCViewProject.Models.PairRollList pairRollList) =>
                    pairRoll.SecondUpFace))</td>
            </tr>
        }
    </tbody>
</table>