@using MVCViewProject.Models;

@model PairRollList

@{
    this.ViewData[index: "Title"] = "Roll List";
}

<div class="text-center">
    <h1 class="display-4">Roll List</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th colspan="2">First Die</th>
            <th colspan="2">Second Die</th>

            <th />
        </tr>
        <tr>
            <th>Favored Face</th>
            <th>Favor Factor</th>

            <th>Favored Face</th>
            <th>Favor Factor</th>

            <th>Pair Roll</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PairRoll pairRoll in this.Model)
        {
            <tr>
                <td>@(this.Html.DisplayFor(expression: (PairRollList pairRollList) =>
                    pairRoll.FirstFavoredFace))</td>
                <td>@(this.Html.DisplayFor(expression: (PairRollList pairRollList) =>
                    pairRoll.FirstFavorFactor))</td>

                <td>@(this.Html.DisplayFor(expression: (PairRollList pairRollList) =>
                    pairRoll.SecondFavoredFace))</td>
                <td>@(this.Html.DisplayFor(expression: (PairRollList pairRollList) =>
                    pairRoll.SecondFavorFactor))</td>

                <td>@(this.Html.DisplayFor(expression: (PairRollList pairRollList) =>
                    pairRoll.Roll))</td>
            </tr>
        }
    </tbody>
</table>